@import "mixins";

//
// Variables
//
$custom-primary-color: #4a4cc0;
$custom-primary-color-active: #374c9f;

$custom-primary-dark-color: #8ed6fb;
$custom-primary-dark-color-active: #8ed6fb;

$custom-btn-bg-color: #ff4935;
$custom-btn-bg-active-color: #e73c29;

$custom-color: #2b2b2b;
$custom-color-headings: #4a4a4a;
$custom-color-muted: #6c757d;
$custom-bg-color: #fff;
$custom-bg-alt-color: #f9f9f9;
$custom-bg-input-color: #f8f9fa;
$custom-border-color: #e9ecef;

$custom-dark-color: #dee2e6;
$custom-dark-color-headings: #dee2e6a0;
$custom-color-dark-muted: #c8cfd6;
$custom-bg-dark-color: #212529;
$custom-bg-alt-dark-color: #1b1f22;
$custom-bg-input-dark-color: #1b1f22;
$custom-border-dark-color: #343a40;

$custom-btn-color: #fff;
$custom-btn-dark-color: #fff;


//
// Styles
//
.navbar-brand {
  position: relative;

  & > img {
    position: absolute;
    max-height: 35px !important;
  }

  & > span {
    padding-left: 45px;
  }
}

::selection {
  background: $custom-primary-color;
  color: $custom-btn-color;
}

.no-border {
  border: none !important;
}

body {
  @include custom-colors(
    $custom-color,
    $custom-color-headings,
    $custom-color-muted,
    $custom-bg-color,
    $custom-bg-alt-color,
    $custom-bg-input-color,
    $custom-primary-color,
    $custom-primary-color-active,
    $custom-btn-bg-color,
    $custom-btn-bg-active-color,
    $custom-btn-color,
    $custom-border-color
  );
}

[data-dark-mode] body {
  @include custom-colors(
    $custom-dark-color,
    $custom-dark-color-headings,
    $custom-color-dark-muted,
    $custom-bg-dark-color,
    $custom-bg-alt-dark-color,
    $custom-bg-input-dark-color,
    $custom-primary-dark-color,
    $custom-primary-dark-color-active,
    $custom-btn-bg-color,
    $custom-btn-bg-active-color,
    $custom-btn-dark-color,
    $custom-border-dark-color
  );
}
